* {
    box-sizing: border-box;
    margin: 0px;
   
}

.centerContent {
    display: block;
    text-align: center;
}

.centerText{
margin-right: 25%;
margin-left: 25%;
   
}

.centerText + .centerText {
    margin-top: 20px;
}

.newSection{
    margin-top: 20px;
}

.fixedLeftNav {
    position: fixed;
    max-width: 200px;
    width: 10%;
    background-color: orange;
    height: 100vh;
   

}



.closedLeftNav{
    background-color: orange;
    position: fixed;
    height: 100vh;
    max-width: 5%;
    content: " "
}

.hidden {
    background-color:  black;
}
.fixedLeftNav a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.fixedLeftNav ul {
    list-style: none;
    display: inline-block;
   
}

.fixedLeftNav ul li {
    margin-top: 4px;
}