* {
    box-sizing: border-box;
    margin: 0px;
   
}

.centerContent {
    display: block;
    text-align: center;
}

.centerText{
margin-right: 25%;
margin-left: 25%;
   
}

.centerText + .centerText {
    margin-top: 20px;
}

.newSection{
    margin-top: 20px;
}

.openLeftNav {
    transition: 150ms;
    position: fixed;
    max-width: 200px;
    width: 120px;
    background-color: orange;
    height: 100vh;
  

}

.closedLeftNav {
    transition: ease-in 250ms;
    position: fixed;
    width: 20px;
    background-color: orange;
    height: 100vh;
}

.hidden {
    transition: 150ms;
    display: none
}

.relative {
    position: relative;
}




.openLeftNav a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.openLeftNav ul {
    list-style: none;
   
    display: inline-block;
   
}

.openLeftNav ul li {
    margin-top: 4px;
    
}

/* to put image in right corner, simulating and ad */
.top_Right{
    position: fixed;
    top: 5%;
    left: -250px;
    transform: scale(25%);
    z-index: -2;

}
.three_Quarters{
    margin-left: 70%;
    width:40%;
    text-align: center;
    transform: scale(50%);
    display: block;
    float: right;
    top: 20%;
}


/*  flex columns rules below */

.flexCols3 {
    max-width: 75%;
    margin: 0 auto;
    margin-top: 40px;
display: flex;
flex-shrink: 1;
flex-grow: 0;
gap: 40px;

}

.threeWays{
    margin-top: 40px;
    color: navy;
}

/*.flexCols3 h3:nth-of-type(3){
    white-space: nowrap;
} */



.gridCols3{
    margin-top: 40px;
    display: grid;
    grid-template-columns: /*1fr 1fr 1fr */ repeat(3, 1fr);
    gap: 40px;
    grid-column:auto;
    width: 80%;
    margin-left: 10%;
}

.gridH3 {
    grid-column: 1/-1;
}


.bottomNav{
    display:none;
}

@media(max-width: 850px) {
   .studyingIMG{
    transform: scale(75%);
   display: block;
   margin-left: -75px;
   margin-top: -64px;
   }

   .closedLeftNav {

    display: none;
    
   }

   .bottomNav{
    display:block;
    background-color: orange;
   }

   .hidden{
    display: grid;
    list-style-type: none;  
     text-align: center;
     line-height: 109px;
   
   }
   .hidden li a{
    text-decoration: none;
    color: green;
  
 


   }

   .fa-ellipsis-v{
    display: none;
   }
   
}