* {
    box-sizing: border-box;
    margin: 0px;
   
}

.centerContent {
    display: block;
    text-align: center;
}

.centerText{
margin-right: 25%;
margin-left: 25%;
   
}

.centerText + .centerText {
    margin-top: 20px;
}

.newSection{
    margin-top: 20px;
}

.openLeftNav {
    position: fixed;
    max-width: 200px;
    width: 120px;
    background-color: orange;
    height: 100vh;
  

}

.closedLeftNav {
    position: fixed;
    width: 20px;
    background-color: orange;
    height: 100vh;
}

.hidden {
    display: none
}

.relative {
    position: relative;
}




.openLeftNav a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.openLeftNav ul {
    list-style: none;
   
    display: inline-block;
   
}

.openLeftNav ul li {
    margin-top: 4px;
    
}

/* to put image in right corner, simulating and ad */
.top_Right{
    position: absolute;
    top: 4%;
    right: -14%;
    transform: scale(50%)

}
.three_Quarters{
    margin-left: 70%;
    width:80%;
    text-align: center;
    transform: scale(50%);
    display: block;
    float: right;
}